force-app/main/default/flows/Employee_Onboarding_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <dynamicChoiceSets>
        <name>Applicantsource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_Of_Applicant__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bloodgroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blood_Type__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExperienceStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Experience_Status__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>passport_country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Passport_Country__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Saluation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>validatedateofbirth</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(ISBLANK( {!DateOfBirth})), 
     {!DateOfBirth}&gt; DATE(YEAR(TODAY()) - 18, MONTH(TODAY()), DAY(TODAY()))  
)</expression>
    </formulas>
    <interviewLabel>Employee Onboarding form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Onboarding form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Onboard_record</name>
        <label>Onboard record</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>UserID</assignRecordIdToReference>
        <connector>
            <targetReference>file_upload</targetReference>
        </connector>
        <inputAssignments>
            <field>Aadhar_Card_Number__c</field>
            <value>
                <elementReference>Aadhar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Number__c</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anniversary_Date__c</field>
            <value>
                <elementReference>Anniversary_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_Other__c</field>
            <value>
                <elementReference>Any_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Details__c</field>
            <value>
                <elementReference>Bank_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blood_Type__c</field>
            <value>
                <elementReference>Blood_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campus_City__c</field>
            <value>
                <elementReference>Campus_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campus_Name__c</field>
            <value>
                <elementReference>Campus_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consultancy_Name__c</field>
            <value>
                <elementReference>Consultancy_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Covaccine__c</field>
            <value>
                <elementReference>Covaccine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Covidshield__c</field>
            <value>
                <elementReference>Covidshield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>DateOfBirth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver_s_License_Number__c</field>
            <value>
                <elementReference>Driving_License_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Personal_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact__c</field>
            <value>
                <elementReference>Emergency_contact_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Status__c</field>
            <value>
                <elementReference>Experience_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_Age__c</field>
            <value>
                <elementReference>Father_age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_Contact_No__c</field>
            <value>
                <elementReference>Father_s_Contact_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_D_O_B__c</field>
            <value>
                <elementReference>Father_s_D_O_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_Name__c</field>
            <value>
                <elementReference>Father_s_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Genderr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HSC_Board__c</field>
            <value>
                <elementReference>educationdetails.HSC_Board__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HSC_Year_of_Completion__c</field>
            <value>
                <elementReference>educationdetails.HSC_Year_of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Number__c</field>
            <value>
                <elementReference>IFSC_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Company_Name__c</field>
            <value>
                <elementReference>Insurance_company_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Marital_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_Age__c</field>
            <value>
                <elementReference>Mother_age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_Contact_No__c</field>
            <value>
                <elementReference>Mother_s_Contact_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_D_O_B__c</field>
            <value>
                <elementReference>Mother_s_D_O_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_Name__c</field>
            <value>
                <elementReference>Mother_s_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_As_Per_Bank__c</field>
            <value>
                <elementReference>Name_As_per_Bank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_the_Organization__c</field>
            <value>
                <elementReference>Name_of_organization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Children__c</field>
            <value>
                <elementReference>Number_of_Children</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Experiences__c</field>
            <value>
                <elementReference>educationdetails.Other_Experiences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Source__c</field>
            <value>
                <elementReference>Any_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_College_Name__c</field>
            <value>
                <elementReference>PG_College_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_Degree__c</field>
            <value>
                <elementReference>Degree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_Percentage__c</field>
            <value>
                <elementReference>PG_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_year_completion__c</field>
            <value>
                <elementReference>PG_year_completion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_Mobile__c</field>
            <value>
                <elementReference>personal_Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_PAN_Number__c</field>
            <value>
                <elementReference>Pan_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_UAN_Number__c</field>
            <value>
                <elementReference>UAN_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_City__c</field>
            <value>
                <elementReference>educationdetails.Passport_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Country__c</field>
            <value>
                <elementReference>passport_countrys</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Issue_place__c</field>
            <value>
                <elementReference>educationdetails.Passport_Issue_place__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Number__c</field>
            <value>
                <elementReference>educationdetails.Passport_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_State__c</field>
            <value>
                <elementReference>educationdetails.Passport_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Valid_Till__c</field>
            <value>
                <elementReference>educationdetails.Passport_Valid_Till__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__City__s</field>
            <value>
                <elementReference>educationdetails.Permanent_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__CountryCode__s</field>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__PostalCode__s</field>
            <value>
                <elementReference>educationdetails.Permanent_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__StateCode__s</field>
            <value>
                <stringValue>TN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__Street__s</field>
            <value>
                <elementReference>educationdetails.Permanent_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>Policy_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__City__s</field>
            <value>
                <elementReference>educationdetails.Present_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__CountryCode__s</field>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__PostalCode__s</field>
            <value>
                <elementReference>educationdetails.Present_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__StateCode__s</field>
            <value>
                <stringValue>TN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__Street__s</field>
            <value>
                <elementReference>educationdetails.Present_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Passport_Number__c</field>
            <value>
                <elementReference>educationdetails.Previous_Passport_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Leaving__c</field>
            <value>
                <elementReference>Reason_for_Leaving</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Name__c</field>
            <value>
                <elementReference>refered_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSLC_Board__c</field>
            <value>
                <elementReference>educationdetails.SSLC_Board__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSLC_Year_of_Completion__c</field>
            <value>
                <elementReference>educationdetails.SSLC_Year_of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Set__c</field>
            <value>
                <elementReference>Skill_Set</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Of_Applicant__c</field>
            <value>
                <elementReference>Applicant_source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Name__c</field>
            <value>
                <elementReference>Spouse_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_s_Contact_No__c</field>
            <value>
                <elementReference>Spouse_s_Contact_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>To_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UGCollege_UniversityName__c</field>
            <value>
                <elementReference>UG_college_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UGPercentage__c</field>
            <value>
                <elementReference>UG_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UG_Degree__c</field>
            <value>
                <elementReference>UG_Degree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UG_year_completion__c</field>
            <value>
                <elementReference>UG_year_completion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkDesignation__c</field>
            <value>
                <elementReference>WorkDesignation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Permit__c</field>
            <value>
                <elementReference>educationdetails.Work_Permit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10th_School_Name__c</field>
            <value>
                <elementReference>X10th_school_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10th__c</field>
            <value>
                <elementReference>X10th_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_Percentage__c</field>
            <value>
                <elementReference>X12th_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_School_Name__c</field>
            <value>
                <elementReference>X12th_school_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_Stream__c</field>
            <value>
                <elementReference>X12th_Stream</elementReference>
            </value>
        </inputAssignments>
        <object>User__c</object>
    </recordCreates>
    <screens>
        <name>Bank_Details</name>
        <label>Bank Details</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Family_Details</targetReference>
        </connector>
        <fields>
            <name>BANK_INFORMATIONS</name>
            <fieldText>BANK INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BANK_INFORMATIONS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_As_per_Bank</name>
                    <dataType>String</dataType>
                    <fieldText>Employee Name As per Bank</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Bank Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BANK_INFORMATIONS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IFSC_Number</name>
                    <dataType>String</dataType>
                    <fieldText>IFSC Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Address</name>
                    <fieldText>Bank Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Education_Details</name>
        <label>Education Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Work_Experience</targetReference>
        </connector>
        <fields>
            <name>Educationinfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; font-family: serif;&quot;&gt;Education Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SSLCinfo</name>
            <fieldText>SSLC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SSLCinfo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X10th_school_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter Your School Name&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X10th_stream</name>
                    <dataType>String</dataType>
                    <fieldText>Board</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SSLCinfo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X10th_percentage</name>
                    <dataType>String</dataType>
                    <fieldText>Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.SSLC_Year_of_Completion__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>HSCinfo</name>
            <fieldText>HSC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>HSCinfo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X12th_school_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter Your School Name&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>X12th_Stream</name>
                    <dataType>String</dataType>
                    <fieldText>Stream</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.HSC_Year_of_Completion__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>HSCinfo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X12th_percentage</name>
                    <dataType>String</dataType>
                    <fieldText>percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Board</name>
                    <dataType>String</dataType>
                    <fieldText>Board</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>UGinfo</name>
            <fieldText>UG</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UGinfo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UG_college_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter Your College Name&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UG_Degree</name>
                    <dataType>String</dataType>
                    <fieldText>Degree</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UGinfo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UG_percentage</name>
                    <dataType>String</dataType>
                    <fieldText>Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UG_year_completion</name>
                    <dataType>Date</dataType>
                    <fieldText>Year Of Completion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>PGinfo</name>
            <fieldText>PG</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PGinfo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PG_College_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter Your College Name&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Degree</name>
                    <dataType>String</dataType>
                    <fieldText>Degree</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PGinfo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PG_percentage</name>
                    <dataType>String</dataType>
                    <fieldText>Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PG_year_completion</name>
                    <dataType>Date</dataType>
                    <fieldText>Year Of Completion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Any_Other</name>
            <dataType>String</dataType>
            <fieldText>Any Other</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If any other mention the Name/ &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Family_Details</name>
        <label>Family Details</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Passport_details</targetReference>
        </connector>
        <fields>
            <name>Family_Information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Family Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Father</name>
            <fieldText>Father Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Father_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Father_s_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Father_s_D_O_B</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Father_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Father_s_Contact_No</name>
                    <dataType>String</dataType>
                    <fieldText>Contact No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Father_age</name>
                    <dataType>Number</dataType>
                    <fieldText>Age</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mother</name>
            <fieldText>Mother Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mother_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mother_s_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mother_s_D_O_B</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mother_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mother_s_Contact_No</name>
                    <dataType>String</dataType>
                    <fieldText>Contact No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mother_age</name>
                    <dataType>Number</dataType>
                    <fieldText>Age</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Marital_Statuss</name>
            <fieldText>Marital Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marital_Statuss_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Marital_Status</name>
                    <choiceReferences>MaritalStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Marital Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marital_Statuss_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spouse_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Spouse Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Marital_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Married</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Spouse_s_Contact_No</name>
                    <dataType>String</dataType>
                    <fieldText>Spouse&apos;s Contact No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Marital_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Married</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Anniversary_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Anniversary Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Marital_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Married</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Children</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Children</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Marital_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Married</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Children_Name_Age_D_O_B</name>
                    <fieldText>Children Name/Age/D.O.B</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Marital_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Married</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Present_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Permanent_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>file_upload</name>
        <label>file upload</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thankyou_screen</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: serif; color: rgb(186, 42, 42); font-size: 16px;&quot;&gt;Please note that the file upload limit is 200KB.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Files_Upload</name>
            <fieldText>Files Upload</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Files_Upload_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>uploadfile</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SSLC Cerification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>secondupload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>HSC Certification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UG</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>UG Certification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Files_Upload_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pg</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue> PG Certification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>bankcheckleaf</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Bank Checkleaf</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>vaccinations</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vaccination Certification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Physically_Challenged</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Physically Challenged </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>General_Information</name>
        <label>General Information</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Onboard_record</targetReference>
        </connector>
        <fields>
            <name>GENERAL_INFORMATIONS</name>
            <fieldText>GENERAL INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GENERAL_INFORMATIONS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blood_Group</name>
                    <choiceReferences>Bloodgroup</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Blood Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UAN_number</name>
                    <dataType>String</dataType>
                    <fieldText>UAN Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Aadhar_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Aadhar Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid Aadhar Number&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
    LEN({!Aadhar_Number}) = 12, 
    LEFT({!Aadhar_Number}, 1) &lt;&gt; &apos;1&apos;
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Pan_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Pan Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid pan number&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(
    REGEX({!Pan_Number}, &apos;^[A-Z]{5}[0-9]{3}[A-Z]{1}&apos;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Driving_License_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Driving License Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_INFORMATIONS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Insurance_company_name</name>
                    <dataType>String</dataType>
                    <fieldText>Insurance company name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Policy_number</name>
                    <dataType>String</dataType>
                    <fieldText>Policy number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>physically_challanged</name>
                    <dataType>Boolean</dataType>
                    <fieldText>physically challanged</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Vaccination</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Vaccination Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Covidshield</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Covidshield</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Covaccine</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Covaccine</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Onboard_form</name>
        <label>Personal info</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Education_Details</targetReference>
        </connector>
        <fields>
            <name>PERSONAL_INFORMATION</name>
            <fieldText>PERSONAL INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PERSONAL_INFORMATION_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salutation</name>
                    <choiceReferences>Saluation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Middle_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Personal_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Personal Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PERSONAL_INFORMATION_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Genderr</name>
                    <choiceReferences>Gender</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>personal_Mobile_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Personal Mobile Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DateOfBirth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The age should be above 18 years.&lt;/p&gt;</errorMessage>
                        <formulaExpression>TODAY() - {!DateOfBirth} &gt;= 6570</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Emergency_contact_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Emergency Contact Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;It should not same as your personal Mobile number&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;This Number should not  be same as your personal number&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
  NOT(ISBLANK({!personal_Mobile_Number})),
  NOT(ISBLANK({!Emergency_contact_Number})),
  {!personal_Mobile_Number} &lt;&gt; {!Emergency_contact_Number}
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Passport_details</name>
        <label>Passport details</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>General_Information</targetReference>
        </connector>
        <fields>
            <name>PASSPORT_INFORMATION</name>
            <fieldText>PASSPORT INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PASSPORT_INFORMATION_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Passport_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Passport_Valid_Till__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Work_Permit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Passport_Issue_place__c</objectFieldReference>
                </fields>
                <fields>
                    <name>passport_countrys</name>
                    <choiceReferences>passport_country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Passport Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PASSPORT_INFORMATION_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Passport_State__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Passport_City__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Previous_Passport_Details</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Previous Passport Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Previous_Passport_Number__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Previous_Passport_Details</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Source_of_applicant</name>
        <label>Source of applicant</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bank_Details</targetReference>
        </connector>
        <fields>
            <name>APPLICANT_SOURCE_INFORMATION</name>
            <fieldText>APPLICANT SOURCE INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APPLICANT_SOURCE_INFORMATION_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_source</name>
                    <choiceReferences>Applicantsource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Applicant source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APPLICANT_SOURCE_INFORMATION_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>refered_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Reffered Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Applicant_source</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Referred</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mode_of_Advertisement</name>
                    <dataType>String</dataType>
                    <fieldText>Mode Of Advertisement</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Applicant_source</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Advertisement</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Consultancy_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Consultancy Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Applicant_source</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Consultancy</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Campus_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Campus Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Applicant_source</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Campus</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Campus_City</name>
                    <dataType>String</dataType>
                    <fieldText>Campus City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Applicant_source</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Campus</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thankyou_screen</name>
        <label>Thankyou screen</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou_message</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://quadrobaytechnologiespriva3-dev-ed.develop.file.force.com/sfc/servlet.shepherd/version/download/0685g00000HXSJ7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;MicrosoftTeams-image.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Work_Experience</name>
        <label>Work Experience</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Source_of_applicant</targetReference>
        </connector>
        <fields>
            <name>EXPERIENCE_INFORMATION</name>
            <fieldText>WORK EXPERIENCE INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EXPERIENCE_INFORMATION_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Experience_Status</name>
                    <choiceReferences>ExperienceStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Experience Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Skill_Set</name>
                    <fieldText>Skill Set</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Morethen_One_Work_Experience</name>
                    <dataType>Boolean</dataType>
                    <fieldText>More than One Work Experience</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Experience_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Experienced</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationdetails.Other_Experiences__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Morethen_One_Work_Experience</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EXPERIENCE_INFORMATION_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_of_organization</name>
                    <dataType>String</dataType>
                    <fieldText>Name Of Organization</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Experience_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Experienced</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WorkDesignation</name>
                    <dataType>String</dataType>
                    <fieldText>Work Designation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Experience_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Experienced</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>From_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>From Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Experience_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Experienced</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>To_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>To Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Experience_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Experienced</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reason_for_Leaving</name>
                    <fieldText>Reason for Leaving</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Experience_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Experienced</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboard_form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>educationdetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User__c</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
