force-app/main/default/flows/Onboard_Form_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Physically_challange</name>
        <label>Physically challange</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>physically_challanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_For_PC</targetReference>
            </connector>
            <label>checked</label>
        </rules>
        <rules>
            <name>unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>physically_challanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_message</targetReference>
            </connector>
            <label>unchecked</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Applicantsource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_Of_Applicant__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bloodgroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Blood_Type__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Saluation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>User__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Onboard Form 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboard Form 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Onboard_record</name>
        <label>Onboard record</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>UserID</assignRecordIdToReference>
        <connector>
            <targetReference>Physically_challange</targetReference>
        </connector>
        <inputAssignments>
            <field>Aadhar_Card_Number__c</field>
            <value>
                <elementReference>Aadhar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Number__c</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anniversary_Date__c</field>
            <value>
                <elementReference>Anniversary_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_Other__c</field>
            <value>
                <elementReference>Any_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Details__c</field>
            <value>
                <elementReference>Bank_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blood_Type__c</field>
            <value>
                <elementReference>Blood_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Covaccine__c</field>
            <value>
                <elementReference>Covaccine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Covidshield__c</field>
            <value>
                <elementReference>Covidshield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>DateOfBirth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver_s_License_Number__c</field>
            <value>
                <elementReference>Driving_License_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Personal_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact__c</field>
            <value>
                <elementReference>Emergency_contact_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_Age__c</field>
            <value>
                <elementReference>Father_age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_Contact_No__c</field>
            <value>
                <elementReference>Father_s_Contact_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_D_O_B__c</field>
            <value>
                <elementReference>Father_s_D_O_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Father_s_Name__c</field>
            <value>
                <elementReference>Father_s_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Genderr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Number__c</field>
            <value>
                <elementReference>IFSC_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Company_Name__c</field>
            <value>
                <elementReference>Insurance_company_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Marital_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_Age__c</field>
            <value>
                <elementReference>Mother_age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_Contact_No__c</field>
            <value>
                <elementReference>Mother_s_Contact_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_D_O_B__c</field>
            <value>
                <elementReference>Mother_s_D_O_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mother_s_Name__c</field>
            <value>
                <elementReference>Mother_s_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_As_Per_Bank__c</field>
            <value>
                <elementReference>Name_As_per_Bank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_the_Organization__c</field>
            <value>
                <elementReference>Name_of_organization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Children__c</field>
            <value>
                <elementReference>Number_of_Children</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_College_Name__c</field>
            <value>
                <elementReference>PG_College_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_Degree__c</field>
            <value>
                <elementReference>PG_Degree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_Percentage__c</field>
            <value>
                <elementReference>PG_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PG_year_completion__c</field>
            <value>
                <elementReference>PG_year_completion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_Mobile__c</field>
            <value>
                <elementReference>personal_Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_PAN_Number__c</field>
            <value>
                <elementReference>Pan_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P_UAN_Number__c</field>
            <value>
                <elementReference>UAN_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__City__s</field>
            <value>
                <elementReference>Permanent_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__CountryCode__s</field>
            <value>
                <elementReference>Permanent_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__PostalCode__s</field>
            <value>
                <elementReference>Permanent_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__StateCode__s</field>
            <value>
                <elementReference>Permanent_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permanent_Address__Street__s</field>
            <value>
                <elementReference>Permanent_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>Policy_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__City__s</field>
            <value>
                <elementReference>Present_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__CountryCode__s</field>
            <value>
                <elementReference>Present_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__PostalCode__s</field>
            <value>
                <elementReference>Present_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__StateCode__s</field>
            <value>
                <elementReference>Present_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present_Address__Street__s</field>
            <value>
                <elementReference>Present_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Leaving__c</field>
            <value>
                <elementReference>Reason_for_Leaving</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Name__c</field>
            <value>
                <elementReference>refered_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation__c</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Set__c</field>
            <value>
                <elementReference>Skill_Set</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Of_Applicant__c</field>
            <value>
                <elementReference>Applicant_source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Name__c</field>
            <value>
                <elementReference>Spouse_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_s_Contact_No__c</field>
            <value>
                <elementReference>Spouse_s_Contact_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>To_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UGCollege_UniversityName__c</field>
            <value>
                <elementReference>UG_college_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UGPercentage__c</field>
            <value>
                <elementReference>UG_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UG_Degree__c</field>
            <value>
                <elementReference>UG_Degree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UG_year_completion__c</field>
            <value>
                <elementReference>UG_year_completion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkDesignation__c</field>
            <value>
                <elementReference>WorkDesignation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10th_School_Name__c</field>
            <value>
                <elementReference>X10th_school_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10th_Stream__c</field>
            <value>
                <elementReference>X10th_stream</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10th__c</field>
            <value>
                <elementReference>X10th_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_Percentage__c</field>
            <value>
                <elementReference>X12th_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_School_Name__c</field>
            <value>
                <elementReference>X12th_school_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12th_Stream__c</field>
            <value>
                <elementReference>X12th_Stream</elementReference>
            </value>
        </inputAssignments>
        <object>User__c</object>
    </recordCreates>
    <screens>
        <name>Bank_Details</name>
        <label>Bank Details</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Family_Details</targetReference>
        </connector>
        <fields>
            <name>Bank_Information</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Bank Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_As_per_Bank</name>
            <dataType>String</dataType>
            <fieldText>Name As per Bank</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Name</name>
            <dataType>String</dataType>
            <fieldText>Bank Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IFSC_Number</name>
            <dataType>String</dataType>
            <fieldText>IFSC Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Address</name>
            <fieldText>Bank Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Document_For_PC</name>
        <label>Document For PC</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_you_message</targetReference>
        </connector>
        <fields>
            <name>Upload_Document_for_physically_challanged</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Document for physically challanged</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Education_Details</name>
        <label>Education Details</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Work_Experience</targetReference>
        </connector>
        <fields>
            <name>Educationinfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Education Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X10th_school_Name</name>
            <dataType>String</dataType>
            <fieldText>10th school Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X10th_stream</name>
            <dataType>String</dataType>
            <fieldText>10th stream</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X10th_percentage</name>
            <dataType>String</dataType>
            <fieldText>10th percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upload_10th_certification</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload 10th certification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>X12th_school_Name</name>
            <dataType>String</dataType>
            <fieldText>12th school Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X12th_Stream</name>
            <dataType>String</dataType>
            <fieldText>12th Stream</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X12th_percentage</name>
            <dataType>String</dataType>
            <fieldText>12th percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>upload_12th_certification</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload 12th certification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UG_college_Name</name>
            <dataType>String</dataType>
            <fieldText>UG college Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UG_Degree</name>
            <dataType>String</dataType>
            <fieldText>UG Degree</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UG_percentage</name>
            <dataType>String</dataType>
            <fieldText>UG percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UG_year_completion</name>
            <dataType>Date</dataType>
            <fieldText>UG year completion</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PG_College_Name</name>
            <dataType>String</dataType>
            <fieldText>PG College Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PG_Degree</name>
            <dataType>String</dataType>
            <fieldText>PG Degree</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PG_percentage</name>
            <dataType>String</dataType>
            <fieldText>PG percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PG_year_completion</name>
            <dataType>Date</dataType>
            <fieldText>PG year completion</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Any_Other</name>
            <dataType>String</dataType>
            <fieldText>Any Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Family_Details</name>
        <label>Family Details</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>General_Information</targetReference>
        </connector>
        <fields>
            <name>Family_Information</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Family Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Father_s_Name</name>
            <dataType>String</dataType>
            <fieldText>Father&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Father_s_Contact_No</name>
            <dataType>String</dataType>
            <fieldText>Father&apos;s Contact No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Father_s_D_O_B</name>
            <dataType>Date</dataType>
            <fieldText>Father&apos;s D.O.B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Father_age</name>
            <dataType>Number</dataType>
            <fieldText>Father age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Mother_s_Name</name>
            <dataType>String</dataType>
            <fieldText>Mother&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mother_s_Contact_No</name>
            <dataType>String</dataType>
            <fieldText>Mother&apos;s Contact No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mother_s_D_O_B</name>
            <dataType>Date</dataType>
            <fieldText>Mother&apos;s D.O.B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mother_age</name>
            <dataType>Number</dataType>
            <fieldText>Mother age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Marital_Status</name>
            <choiceReferences>MaritalStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marital Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spouse_Name</name>
            <dataType>String</dataType>
            <fieldText>Spouse Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Marital_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Spouse_s_Contact_No</name>
            <dataType>String</dataType>
            <fieldText>Spouse&apos;s Contact No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Marital_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Anniversary_Date</name>
            <dataType>Date</dataType>
            <fieldText>Anniversary Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Marital_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_of_Children</name>
            <dataType>Number</dataType>
            <fieldText>Number of Children</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Marital_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Children_Name_Age_D_O_B</name>
            <fieldText>Children Name/Age/D.O.B</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Marital_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Married</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Present_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Present Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Permanent_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Permanent Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Information</name>
        <label>General Information</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Onboard_record</targetReference>
        </connector>
        <fields>
            <name>General_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;General Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blood_Group</name>
            <choiceReferences>Bloodgroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Blood Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UAN_number</name>
            <dataType>String</dataType>
            <fieldText>UAN Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Aadhar_Number</name>
            <dataType>String</dataType>
            <fieldText>Aadhar Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pan_Number</name>
            <dataType>String</dataType>
            <fieldText>Pan Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Driving_License_Number</name>
            <dataType>String</dataType>
            <fieldText>Driving License Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vaccination</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Vaccination Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Covidshield</name>
            <dataType>Boolean</dataType>
            <fieldText>Covidshield</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Covaccine</name>
            <dataType>Boolean</dataType>
            <fieldText>Covaccine</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Upload_Vaccination_Certificate</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Vaccination Certificate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Insurance_company_name</name>
            <dataType>String</dataType>
            <fieldText>Insurance company name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Policy_number</name>
            <dataType>String</dataType>
            <fieldText>Policy number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>physically_challanged</name>
            <dataType>Boolean</dataType>
            <fieldText>physically challanged</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onboard_form</name>
        <label>Personal info</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Education_Details</targetReference>
        </connector>
        <fields>
            <name>PersonalInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: serif;&quot;&gt;Personal Information﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Salutation</name>
            <choiceReferences>Saluation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Middle_Name</name>
            <dataType>String</dataType>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Personal_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Personal Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Genderr</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>personal_Mobile_Number</name>
            <dataType>String</dataType>
            <fieldText>personal Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DateOfBirth</name>
            <dataType>Date</dataType>
            <fieldText>DateOfBirth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emergency_contact_Number</name>
            <dataType>String</dataType>
            <fieldText>Emergency contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;It should not same as your personal Mobile number&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source_of_applicant</name>
        <label>Source of applicant</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bank_Details</targetReference>
        </connector>
        <fields>
            <name>Source_Of_Applicants</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Source Of Applicant&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Applicant_source</name>
            <choiceReferences>Applicantsource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Applicant source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>refered_Name</name>
            <dataType>String</dataType>
            <fieldText>Reffered Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Applicant_source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referred</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mode_of_Advertisement</name>
            <dataType>String</dataType>
            <fieldText>Mode of Advertisement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Applicant_source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Advertisement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consultancy_Name</name>
            <dataType>String</dataType>
            <fieldText>Consultancy Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Applicant_source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Consultancy</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Campus_Name</name>
            <dataType>String</dataType>
            <fieldText>Campus Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Applicant_source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Campus</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Campus_City</name>
            <dataType>String</dataType>
            <fieldText>Campus City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Applicant_source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Campus</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other</name>
            <dataType>String</dataType>
            <fieldText>Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Applicant_source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you_message</name>
        <label>Thank you message</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyoumessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Thank you for providing your information!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Experience</name>
        <label>Work Experience</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Source_of_applicant</targetReference>
        </connector>
        <fields>
            <name>WorkExperirence</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;Work Experience&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_organization</name>
            <dataType>String</dataType>
            <fieldText>Name of organization</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WorkDesignation</name>
            <dataType>String</dataType>
            <fieldText>WorkDesignation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>From_Date</name>
            <dataType>Date</dataType>
            <fieldText>From Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>To_Date</name>
            <dataType>Date</dataType>
            <fieldText>To Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Leaving</name>
            <fieldText>Reason for Leaving</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Skill_Set</name>
            <fieldText>Skill Set</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboard_form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>educationdetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User__c</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
